#!/bin/bash
# brewfile-hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}
set -euo pipefail

gum spin --spinner points --title "Installing/updating Homebrew packages" -- \
  brew bundle --file="{{ .chezmoi.sourceDir }}/dot_config/homebrew/Brewfile"
