{
    "faviconService": "google",
    "font": {
        "normal": "{{ .visual.fontFamily }}",
        "size": {{ .visual.fontSize }}
    },
    "popToRootOnClose": false,
    "rootSearch": {
        "searchFiles": false
    },
    "theme": {
        "iconTheme": "Colloid-Nord",
        "name": "nord_dark.json"
    },
    "window": {
        "csd": true,
        "opacity": 0.9,
        "rounding": 9
    }
}
