#!/bin/bash
# brewfile-hash: {{ include(".config/homebrew/Brewfile") | blake3sum }}
set -euo pipefail

gum spin --spinner points --title "Installing/updating Homebrew packages" -- \
  brew bundle --quiet --file="{{ guisu.srcDir }}/.config/homebrew/Brewfile"
