dim_opacity                        0.3
draw_minimal_borders               yes
hide_window_decorations            {{ index .terminal.kitty.hideWindowDecorations .chezmoi.os }}
macos_quit_when_last_window_closed yes
placement_strategy                 center
