{
  "agent": {
    "default_profile": "ask",
    "default_model": {
      "provider": "google",
      "model": "gemini-2.5-pro"
    }
  },

  "icon_theme": "Material Icon Theme",
  "theme": {
    "mode": "system",
    "light": "Nord Light",
    "dark": "Nord"
  },
  "ui_font_family": "{{ .visual.fontFamily }}",
  "ui_font_size": {{ .visual.terminal.fontSize }},
  "buffer_font_family": "{{ .visual.alternateFontFamily }}",
  "buffer_font_size": {{ .visual.terminal.fontSize }},

  "minimap": {
    "show": "auto"
  },
  "tabs": {
    "git_status": false
  },
  "collaboration_panel": {
    "button": false
  },
  "title_bar": {
    "show_branch_icon": true,
    "show_onboarding_banner": false,
    "show_sign_in": false,
    "show_user_picture": true
  },

  "autosave": "on_focus_change",

  "when_closing_with_no_tabs": "close_window",
  "on_last_window_closed": "quit_app"
}
