{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/homebrew/**
.hushlogin
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/pop-shell/**
{{- end }}

{{- if .isEphemeral }}
.chezmoiscripts/**
!.chezmoiscripts/linux/01_install-packages.sh
!.chezmoiscripts/linux/01_setup-shell.sh

.config/*
!.config/atuin/
!.config/bat/
!.config/bottom/
!.config/eza/
!.config/fastfetch/
!.config/glow/
!.config/npm/
!.config/ripgrep/
!.config/sheldon/
!.config/starship/
!.config/zsh/
.config/zsh/conf.d/98_bitwarden.zsh
.config/zsh/conf.d/99_private.zsh

.ssh/*
!.ssh/config
!.ssh/config.d/
.ssh/config.d/*
!.ssh/config.d/global
{{- end }}
