{{- if .isEphemeral -}}
{{-   $arch := .chezmoi.arch -}}
{{-   if eq .chezmoi.arch "amd64" -}}{{- $arch = "x86_64" -}}{{- end -}}
{{-   if eq .chezmoi.arch "arm64" -}}{{- $arch = "aarch64" -}}{{- end }}

[".local/bin/eza"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" (printf "eza_%s-unknown-linux-gnu.tar.gz" $arch) | quote }}
    executable = true
    path = "./eza"
    refreshPeriod = "720h"

[".local/bin/sheldon"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "rossmacarthur/sheldon" (printf "sheldon-*-%s-unknown-linux-musl.tar.gz" $arch) | quote }}
    executable = true
    path = "sheldon"
    refreshPeriod = "720h"

[".local/bin/starship"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "starship/starship" (printf "starship-%s-unknown-linux-musl.tar.gz" $arch) | quote }}
    executable = true
    path = "starship"
    refreshPeriod = "720h"

[".local/bin/vivid"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "sharkdp/vivid" (printf "vivid-v*-%s-unknown-linux-gnu.tar.gz" $arch) | quote }}
    executable = true
    path = "vivid"
    stripComponents = 1
    refreshPeriod = "720h"

[".local/bin/zoxide"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" (printf "zoxide-*-%s-unknown-linux-musl.tar.gz" $arch) | quote }}
    executable = true
    path = "zoxide"
    refreshPeriod = "720h"
{{- end }}
