{{- if .isEphemeral -}}
{{-   $arch := .chezmoi.arch -}}
{{-   $gnuArch := $arch -}}
{{-   if eq $gnuArch "amd64" -}}{{- $gnuArch = "x86_64" -}}{{- end -}}
{{-   if eq $gnuArch "arm64" -}}{{- $gnuArch = "aarch64" -}}{{- end }}

[".local/bin/eza"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" (printf "eza_%s-unknown-linux-gnu.tar.gz" $gnuArch) | quote }}
    executable = true
    path = "./eza"
    refreshPeriod = "720h"

[".local/bin/fastfetch"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "fastfetch-cli/fastfetch" (printf "fastfetch-linux-%s.tar.gz" (eq .chezmoi.arch "amd64" | ternary "amd64" "aarch64")) | quote }}
    executable = true
    path = "fastfetch"
    stripComponents = 3
    refreshPeriod = "720h"

[".local/bin/sheldon"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "rossmacarthur/sheldon" (printf "sheldon-*-%s-unknown-linux-musl.tar.gz" $gnuArch) | quote }}
    executable = true
    path = "sheldon"
    refreshPeriod = "720h"

[".local/bin/starship"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "starship/starship" (printf "starship-%s-unknown-linux-musl.tar.gz" $gnuArch) | quote }}
    executable = true
    path = "starship"
    refreshPeriod = "720h"

[".local/bin/vivid"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "sharkdp/vivid" (printf "vivid-v*-%s-unknown-linux-gnu.tar.gz" $gnuArch) | quote }}
    executable = true
    path = "vivid"
    stripComponents = 1
    refreshPeriod = "720h"

[".local/bin/zoxide"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" (printf "zoxide-*-%s-unknown-linux-musl.tar.gz" $gnuArch) | quote }}
    executable = true
    path = "zoxide"
    refreshPeriod = "720h"
{{- end }}
