#!/bin/bash
set -euo pipefail

echo "Installing dnf groups and packages…"

{{- $rpmGroups := list "core" "rpm-development-tools" }}

{{- $devTools := list "cargo" "cmake" "golang" "nodejs" "npm" "rustc" }}
{{- $editors := list "neovim" }}
{{- $terminalTools := list "bat" "fzf" "glow" "ripgrep" "tmux" "zsh" }}
{{- $systemTools := list "jq" "podman-compose" "sshpass" "yq" }}

{{- if not .isEphemeral }}
{{-   $rpmGroups = concat $rpmGroups (list "admin-tools" "container-management" "development-tools" "multimedia") }}
{{-   $devTools = concat $devTools (list "gh" "git-credential-libsecret" "git-delta" "git-lfs" "gitui" "glab" "tokei" "uv") }}
{{-   $editors = concat $editors (list "code" "helix") }}
{{-   $terminalTools = concat $terminalTools (list "atuin" "carapace-bin" "direnv" "eza" "fastfetch" "fd" "ghostty" "gpaste" "just" "kitty" "lnav" "nushell" "rio" "sheldon" "starship" "zoxide") }}
{{-   $uiTools := list "flatpak" "matugen" "niri" "qt6-qtmultimedia" "qt6-qtsvg" "qt6-qtvirtualkeyboard" "quickshell" "sddm" "vicinae" -}}
{{-   $systemTools = concat $systemTools (list "age" "bottom" "brightnessctl" "cava" "cliphist" "conserver" "duf" "fcitx5-rime" "gammastep" "lxqt-policykit" "matugen" "procs" "tealdeer" "udiskie" "vivid") -}}
{{-   $allPackages := concat $devTools $editors $terminalTools $uiTools $systemTools }}

echo "Installing package groups…"
sudo dnf group install -y -q --nogpgcheck --skip-broken{{ range $rpmGroups }} "{{ . }}"{{- end }}

echo "Installing individual packages…"
sudo dnf install -y -q --nogpgcheck --skip-broken{{ range $allPackages }} {{ . }}{{- end }}
{{- else }}
{{-   $allPackages := concat $devTools $editors $terminalTools $systemTools }}

echo "Installing package groups…"
sudo dnf group install -y -q --nogpgcheck --skip-broken{{ range $rpmGroups }} "{{ . }}"{{- end }}

echo "Installing individual packages…"
sudo dnf install -y -q --nogpgcheck --skip-broken{{ range $allPackages }} {{ . }}{{- end }}
{{- end }}
