{
  "dark": {
    "name": "Nord Dark",
    "primary": "{{ .visual.nord.nord8 }}",
    "primaryText": "{{ .visual.nord.nord0 }}",
    "primaryContainer": "{{ .visual.nord.nord10 }}",
    "secondary": "{{ .visual.nord.nord9 }}",
    "surface": "{{ .visual.nord.nord1 }}",
    "surfaceText": "{{ .visual.nord.nord6 }}",
    "surfaceVariant": "{{ .visual.nord.nord2 }}",
    "surfaceVariantText": "{{ .visual.nord.nord5 }}",
    "surfaceTint": "{{ .visual.nord.nord8 }}",
    "background": "{{ .visual.nord.nord0 }}",
    "backgroundText": "{{ .visual.nord.nord6 }}",
    "outline": "{{ .visual.nord.nord3 }}",
    "surfaceContainer": "{{ .visual.nord.nord1 }}",
    "surfaceContainerHigh": "{{ .visual.nord.nord2 }}",
    "error": "{{ .visual.nord.nord11 }}",
    "warning": "{{ .visual.nord.nord13 }}",
    "info": "{{ .visual.nord.nord9 }}",
    "matugen_type": "scheme-tonal-spot"
  },
  "light": {
    "name": "Nord Light",
    "primary": "{{ .visual.nord.nord10 }}",
    "primaryText": "{{ .visual.nord.nord6 }}",
    "primaryContainer": "{{ .visual.nord.nord8 }}",
    "secondary": "{{ .visual.nord.nord9 }}",
    "surface": "{{ .visual.nord.nord6 }}",
    "surfaceText": "{{ .visual.nord.nord0 }}",
    "surfaceVariant": "{{ .visual.nord.nord5 }}",
    "surfaceVariantText": "{{ .visual.nord.nord1 }}",
    "surfaceTint": "{{ .visual.nord.nord10 }}",
    "background": "{{ .visual.nord.nord5 }}",
    "backgroundText": "{{ .visual.nord.nord0 }}",
    "outline": "{{ .visual.nord.nord4 }}",
    "surfaceContainer": "{{ .visual.nord.nord5 }}",
    "surfaceContainerHigh": "{{ .visual.nord.nord4 }}",
    "error": "{{ .visual.nord.nord11 }}",
    "warning": "{{ .visual.nord.nord12 }}",
    "info": "{{ .visual.nord.nord10 }}",
    "matugen_type": "scheme-tonal-spot"
  }
}
