[colors]
background = "{{ .visual.nord.nord5 }}"
foreground = "{{ .visual.nord.nord3 }}"
selection-background = "{{ .visual.nord.nord4 }}"
selection-foreground = "{{ .visual.nord.nord3 }}"
cursor = "{{ .visual.nord.nord8 }}"
black = "{{ .visual.nord.nord1 }}"
red = "{{ .visual.nord.nord11 }}"
green = "{{ .visual.nord.nord14 }}"
yellow = "{{ .visual.nord.nord13 }}"
blue = "{{ .visual.nord.nord9 }}"
magenta = "{{ .visual.nord.nord15 }}"
cyan = "{{ .visual.nord.nord8 }}"
white = "{{ .visual.nord.nord4 }}"
light_black = "{{ .visual.nord.nord3 }}"
light_red = "{{ .visual.nord.nord11 }}"
light_green = "{{ .visual.nord.nord14 }}"
light_yellow = "{{ .visual.nord.nord13 }}"
light_blue = "{{ .visual.nord.nord9 }}"
light_magenta = "{{ .visual.nord.nord15 }}"
light_cyan = "{{ .visual.nord.nord7 }}"
light_white = "{{ .visual.nord.nord6 }}"
