palette = 0={{ .visual.nord.nord1 }}
palette = 1={{ .visual.nord.nord11 }}
palette = 2={{ .visual.nord.nord14 }}
palette = 3={{ .visual.nord.nord13 }}
palette = 4={{ .visual.nord.nord9 }}
palette = 5={{ .visual.nord.nord15 }}
palette = 6={{ .visual.nord.nord8 }}
palette = 7={{ .visual.nord.nord5 }}
palette = 8={{ .visual.nord.nord3 }}
palette = 9={{ .visual.nord.nord11 }}
palette = 10={{ .visual.nord.nord14 }}
palette = 11={{ .visual.nord.nord13 }}
palette = 12={{ .visual.nord.nord9 }}
palette = 13={{ .visual.nord.nord15 }}
palette = 14={{ .visual.nord.nord7 }}
palette = 15={{ .visual.nord.nord6 }}
background = {{ .visual.nord.nord0 }}
foreground = {{ .visual.nord.nord4 }}
cursor-color = {{ .visual.nord.nord6 }}
cursor-text = {{ .visual.nord.nord0 }}
selection-background = {{ .visual.nord.nord6 }}
selection-foreground = {{ .visual.nord.nord3 }}
