bold-is-bright = true
font-family = {{ .visual.fontFamily }}
font-feature = cv31,cv38,cv61,cv97,ss03,ss07,ss08,ss10,zero
font-size = {{ .visual.terminal.fontSize }}
font-style = default
window-title-font-family = {{ .visual.fontFamily }}
