font-family = {{ .terminal.ghostty.fontFamily }}
font-family = {{ .terminal.ghostty.symbolFontFamily }}
font-style = default
font-size = {{ .terminal.fontSize }}
font-feature = calt,cv31,cv38,cv61,cv97,ss03,ss07,ss08,ss10,zero
bold-is-bright = true
window-title-font-family = {{ .terminal.ghostty.fontFamily }}
